In [1]:
from konlpy.tag import Kkma
import re
from bs4 import BeautifulSoup
import requests
from konlpy.tag import Twitter
from collections import Counter
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [ ]:
def crawling(add):
    result =[]
    for p in range(50) :
        r = requests.get("{}{}" .format(add, p+1))
        soup = BeautifulSoup(r.content, "html.parser", from_encoding= 'ms949')
        title = soup.find_all("td", {"class":"title"})

        sub_result =[]
        for i in range(10) :
            sub_result.append(title[i].text.replace("\r", "").replace("\t", "").replace("\n", "").replace("신고", "").replace("군함도", "").replace("택시운전사", "").replace("청년경찰", "").replace("종의 전쟁", "").replace("혹성탈출", "").replace("노무현입니다", "").replace("500일의 썸머", "").replace("덩케르크", "").replace("애나벨", "").replace("이터널 선샤인", "").replace("스파이더맨", ""))

        result = result + sub_result
    return("".join(result))

In [ ]:
taxi = crawling("http://movie.naver.com/movie/point/af/list.nhn?st=mcode&sword=146469&target=after&page=")
gunhamdo = crawling("http://movie.naver.com/movie/point/af/list.nhn?st=mcode&sword=146506&target=after&page=")
young_police = crawling("http://movie.naver.com/movie/point/af/list.nhn?st=mcode&sword=153652&target=after&page=")
war_of_species = crawling("http://movie.naver.com/movie/point/af/list.nhn?st=mcode&sword=143394&target=after&page=")
nomuhyun = crawling("http://movie.naver.com/movie/point/af/list.nhn?st=mcode&sword=162173&target=after&page=")
summer_500 = crawling("http://movie.naver.com/movie/point/af/list.nhn?st=mcode&sword=53152&target=after&page=")
dung = crawling("http://movie.naver.com/movie/point/af/list.nhn?st=mcode&sword=146480&target=after&page=")
sunshine = crawling("http://movie.naver.com/movie/point/af/list.nhn?st=mcode&sword=38444&target=after&page=")
annabel = crawling("http://movie.naver.com/movie/point/af/list.nhn?st=mcode&sword=152341&target=after&page=")
spiderman = crawling("http://movie.naver.com/movie/point/af/list.nhn?st=mcode&sword=135874&target=after&page=")

In [ ]:
movies = [taxi, gunhamdo, young_police, war_of_species, nomuhyun, summer_500, dung, sunshine, annabel, spiderman]

In [ ]:
words_basket =[]
for movie in movies :
    words = twitter.pos(movie)
    for word in words :
        if word[1] in ["Noun", "Adjective"] and len(word[0]) >=2 :
            words_basket.append(word[0])
Counter(words_basket).most_common(30)

In [ ]:
movies = [movie.replace("영화", "") for movie in movies]
movies = [movie.replace("너무", "") for movie in movies]
movies = [movie.replace("정말", "") for movie in movies]
movies = [movie.replace("진짜", "") for movie in movies]
movies = [movie.replace("그냥", "") for movie in movies]
movies = [movie.replace("아니", "") for movie in movies]
movies = [movie.replace("있는", "") for movie in movies]
movies = [movie.replace("역시", "") for movie in movies]
movies = [movie.replace("있었", "") for movie in movies]
movies = [movie.replace("입니", "") for movie in movies]
movies = [movie.replace("커밍", "") for movie in movies]
movies = [movie.replace("썸머", "") for movie in movies]

In [ ]:
twitter = Twitter()

In [ ]:
def word_separating(movies) :
    result=[]
    for movie in movies :      
        one_result = []
        words = twitter.pos(movie)
        for word in words:
            if word[1] in ["Noun", "Adjective"] and len(word[0]) >= 2 :
                one_result.append(word[0])
        one_result_a = " ".join(one_result)
        result.append(one_result_a)
    return(result)

In [ ]:
word_list = word_separating(movies)

In [371]:
count = CountVectorizer(min_df= 2)

In [372]:
tf_dtm = count.fit_transform(word_list).toarray()
tf_dtm

array([[0, 0, 0, ..., 0, 1, 2],
       [1, 0, 1, ..., 1, 2, 2],
       [0, 0, 0, ..., 0, 1, 0],
       ...,
       [0, 0, 2, ..., 3, 3, 0],
       [0, 0, 2, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1]], dtype=int64)

In [373]:
tf_dtm = pd.DataFrame(tf_dtm, columns=count.get_feature_names(),
                     index= ['taxi', 'gunhamdo', 'young_police', 'war_of_species', 'nomuhyun', 'summer_500', 'dung','sunshine',
                              'annabel', 'spiderman'])
tf_dtm

,가관,가기,가끔,가나,가나다,가늠,가능,가능한,가도,가득,...,흥행,희망,희망이,희생,히어로,히히히,힐링,힘든,힘들,힘들었
taxi,0,0,0,0,0,0,0,1,0,0,...,0,0,0,7,0,0,0,0,1,2
gunhamdo,1,0,1,0,0,0,0,1,1,1,...,1,0,0,1,1,1,0,1,2,2
young_police,0,0,0,1,0,1,0,0,0,0,...,1,0,0,0,0,0,2,0,1,0
war_of_species,1,0,1,0,0,0,0,1,0,0,...,0,1,0,1,0,0,1,1,0,0
nomuhyun,0,2,1,0,0,1,0,0,0,1,...,1,0,2,0,0,1,0,1,2,2
summer_500,0,1,0,0,0,0,1,3,0,0,...,0,2,0,0,0,0,0,0,1,3
dung,0,0,0,1,0,0,0,0,1,0,...,1,1,1,3,0,0,0,1,1,2
sunshine,0,0,2,0,1,0,1,0,0,1,...,0,1,0,0,0,0,0,3,3,0
annabel,0,0,2,0,0,0,2,3,0,0,...,1,0,0,0,0,0,0,0,0,0
spiderman,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,9,0,0,0,0,1

In [374]:
idf_maker = TfidfVectorizer(min_df=2)

In [385]:
tf_idf = idf_maker.fit_transform(word_list).toarray()

In [386]:
tf_idf_dtm = pd.DataFrame(tf_idf, columns= idf_maker.get_feature_names(), 
                      index= ['taxi', 'gunhamdo', 'young_police', 'war_of_species', 'nomuhyun', 'summer_500', 'dung','sunshine',
                              'annabel', 'spiderman'])
tf_idf_dtm

,가관,가기,가끔,가나,가나다,가늠,가능,가능한,가도,가득,...,흥행,희망,희망이,희생,히어로,히히히,힐링,힘든,힘들,힘들었
taxi,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.007859,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.061260,0.000000,0.000000,0.000000,0.000000,0.006452,0.014210
gunhamdo,0.012533,0.000000,0.008755,0.000000,0.000000,0.000000,0.000000,0.008755,0.012533,0.010965,...,0.008755,0.000000,0.00000,0.009749,0.012533,0.012533,0.000000,0.008755,0.014374,0.015830
young_police,0.000000,0.000000,0.000000,0.011903,0.000000,0.011903,0.000000,0.000000,0.000000,0.000000,...,0.008314,0.000000,0.00000,0.000000,0.000000,0.000000,0.023805,0.000000,0.006825,0.000000
war_of_species,0.011768,0.000000,0.008221,0.000000,0.000000,0.000000,0.000000,0.008221,0.000000,0.000000,...,0.000000,0.008221,0.00000,0.009154,0.000000,0.000000,0.011768,0.008221,0.000000,0.000000
nomuhyun,0.000000,0.013420,0.004687,0.000000,0.000000,0.006710,0.000000,0.000000,0.000000,0.005871,...,0.004687,0.000000,0.01342,0.000000,0.000000,0.006710,0.000000,0.004687,0.007696,0.008475
summer_500,0.000000,0.007827,0.000000,0.000000,0.000000,0.000000,0.006848,0.016403,0.000000,0.000000,...,0.000000,0.010935,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004488,0.014829
dung,0.000000,0.000000,0.000000,0.009120,0.000000,0.000000,0.000000,0.000000,0.009120,0.000000,...,0.006371,0.006371,0.00912,0.021282,0.000000,0.000000,0.000000,0.006371,0.005230,0.011519
sunshine,0.000000,0.000000,0.010291,0.000000,0.007366,0.000000,0.006444,0.000000,0.000000,0.006444,...,0.000000,0.005145,0.00000,0.000000,0.000000,0.000000,0.000000,0.015436,0.012671,0.000000
annabel,0.000000,0.000000,0.003109,0.000000,0.000000,0.000000,0.003894,0.004664,0.000000,0.000000,...,0.001555,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
spiderman,0.000000,0.000000,0.000000,0.000000,0.010416,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.007276,0.00000,0.000000,0.093741,0.000000,0.000000,0.000000,0.000000,0.006577

In [318]:
def cosin_similarity(doc1, doc2) :
    son = sum(doc1*doc2)
    mom = (sum((doc1)**2)*sum((doc2)**2))**0.5
    return(son/mom)

In [387]:
x = np.zeros((10,10))
for j in range(10) :  
    for i in range(10) :
        x[j,i] = cosin_similarity(tf_idf_dtm.iloc[j], tf_idf_dtm.iloc[i].values)
x = pd.DataFrame(x, index= ['taxi', 'gunhamdo', 'young_police', 'war_of_species', 'nomuhyun', 'summer_500', 'dung','sunshine',
                              'annabel', 'spiderman'],
                 columns = ['taxi', 'gunhamdo', 'young_police', 'war_of_species', 'nomuhyun', 'summer_500', 'dung','sunshine',
                              'annabel', 'spiderman'])
x

,taxi,gunhamdo,young_police,war_of_species,nomuhyun,summer_500,dung,sunshine,annabel,spiderman
taxi,1.000000,0.639157,0.356481,0.309079,0.277865,0.175052,0.241120,0.258727,0.025799,0.140077
gunhamdo,0.639157,1.000000,0.354967,0.320855,0.146679,0.186785,0.274609,0.204503,0.037216,0.191905
young_police,0.356481,0.354967,1.000000,0.342353,0.114518,0.185853,0.214622,0.182101,0.048151,0.314894
war_of_species,0.309079,0.320855,0.342353,1.000000,0.137544,0.178735,0.288268,0.212874,0.055739,0.323105
nomuhyun,0.277865,0.146679,0.114518,0.137544,1.000000,0.136869,0.091901,0.192614,0.019270,0.043485
summer_500,0.175052,0.186785,0.185853,0.178735,0.136869,1.000000,0.141448,0.659791,0.025891,0.096942
dung,0.241120,0.274609,0.214622,0.288268,0.091901,0.141448,1.000000,0.171408,0.039113,0.133690
sunshine,0.258727,0.204503,0.182101,0.212874,0.192614,0.659791,0.171408,1.000000,0.029065,0.091735
annabel,0.025799,0.037216,0.048151,0.055739,0.019270,0.025891,0.039113,0.029065,1.000000,0.028342
spiderman,0.140077,0.191905,0.314894,0.323105,0.043485,0.096942,0.133690,0.091735,0.028342,1.000000